@page "/login"
@using DucksAgency.Spygame.Clientportal.Data
@using Microsoft.AspNetCore.Components
@model DucksAgency.Spygame.Clientportal.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <input asp-for="@Model.UserName"  type="text"/>
    <button type="submit" >Submit</button>
</form>

<div>
    @Model.UserName
</div>
<form method="post" asp-page-handler="SignOut">
    <button >Sign out</button>
</form>
@{
     
}